<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">

        <div id="currentEtheremAccountDiv"></div>

        <!-- Contract deployment details -->
        <p>Contract deployed in Testnet transaction <a href="https://ropsten.etherscan.io/tx/0x20f030b6823fc6705cdf2d7d773e18eb6b4c99d4c46266cdb3b0ce6e06094d99" target="_blank" >0x20f030b6823fc6705cdf2d7d773e18eb6b4c99d4c46266cdb3b0ce6e06094d99</a></p>
        <p>Contract deployed at Testnet address <a href="https://ropsten.etherscan.io/address/0x650168110ADa1f089D443904c6759b7349576A0d" target="_blank" >0x650168110ADa1f089D443904c6759b7349576A0d</a></p>
        <p>Contract creator <a href="https://ropsten.etherscan.io/address/0xa5913085443d492b4e951dab3a80c3598bee6820" target="_blank" >0xa5913085443D492B4E951Dab3A80C3598bEE6820</a></p>

        <br>

        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Tender Submission Registry &copy; 2020.</p>
        <p>Made with Bootstrap, Node.JS & Solidity by <a href="https://github.com/jajukajulz/">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->