<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">

        <!-- Get # of harvest entries -->
        <div id="getTenderDocsCount"></div>
        <button type="button" class="btn btn-primary btn-lg btn-block" id="tenderDocsCountButton">Show Total Number of Tender Document Submissions</button>

        <!-- Contract deployment details -->
        <p>Contract deployed in Testnet transaction <a href="http://testnet.etherscan.io/tx/0xc1336590210a5126e65fa52c97a3872c3b6867ec081aface9f6eaf39412bd410" target="_blank" >0xc1336590210a5126e65fa52c97a3872c3b6867ec081aface9f6eaf39412bd410</a></p>
        <p>Contract deployed at Testnet address <a href="http://testnet.etherscan.io/address/0x3CF296C27FB23d81d4f48baD71f59Ddc76389905" target="_blank" > 0x3CF296C27FB23d81d4f48baD71f59Ddc76389905 </a></p>

        <br>

        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Tender Submission Registry &copy; 2020.</p>
        <p>Made with Bootstrap, Node.JS & Solidity by <a href="https://github.com/jajukajulz/">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->