<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Tender Submission Registry &copy; 2019 - 2020.</p>
        <p>Made with Bootstrap, Node.JS & Solidity by <a href="https://github.com/jajukajulz/">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->