<!-- views/partials/footer.ejs -->
<!-- start footer -->
<!-- add after close of last section but still inside body-->
    <footer class="text-muted">
      <div class="container">

        <div id="currentEtheremAccountDiv"></div>

        <!-- Contract deployment details -->
        <p>Contract deployed in Ganache transaction 0x70355faef15e60dc807c13e33c94260dd8862e85336cf5a112467c91216175eb</p>
        <p>Contract deployed at local Ganache address0x7c5bC1E876f4CC7d36600DEa65e85207FE4DEa90</p>
        <p>Contract creator 0x874950B8c006e6D166f015236623fCD0C0a7DC75</p>

        <br>

        <!-- Standard Footer -->
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Tender Submission Registry &copy; 2020.</p>
        <p>Made with Bootstrap, Node.JS & Solidity by <a href="https://github.com/jajukajulz/">Julian Kanjere</a>.</p>
      </div>
    </footer>
  <!-- end footer -->