<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="Tender Submission Registry. A Blockchain powered procurement platform for managing tender submissions.">
    <meta name="keywords" content="tender submission registry, tender, blockchain, registry, tender management, procurement">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/scripts/css/bootstrap.css'/>
    <script src="/scripts/js/bootstrap.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>A tender is a formal offer to supply goods or to do a particular job, and a statement of the price that you or
       your company will charge. If a contract is put out to tender, formal offers are invited.</p>
    <p>The Tender Submission Registry digitally signs submitted zip files to ensure they have not been tampered with.</p>
     <p>Bid Number, Terms of Reference, Bid Specifications, Briefing Session, Published Date, Closing date, Supplier ID, Supplier Representative (Name & Surname)</p>
  </body>
</html>
