<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <% include ./partials/header %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <% include ./partials/notificationbar %>
              </div>
          </div>
          <div class="row" id="loadingRow">Loading...</div>
          <div class="row align-items-center justify-content-center" id="howItWorksTenderDocsRow">
            <div class="col-md-8">
              <h4>
                <p class="text-muted text-center">FEATURES</p>
              </h4>
            </div>
            <div class = "row">
                <div class="card-deck col-md-12">
                  <div class="card shadow-sm border-primary">
                    <div class="card-header text-primary"><b>Upload Tender Documents</b></div>
                    <div class="card-body text-primary">
                      <p class="card-text">ZIP file of tender documents is uploaded by authorised representative of supplier company. The hash of the ZIP file is calculated and stored on the Blockchain together with the date of submission for later verification.</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-secondary">
                    <div class="card-header text-secondary"><b>Verify Tender Documents</b></div>
                    <div class="card-body text-secondary">
                      <p class="card-text">During tender vetting process, authorised representative of company that issued the tender uploads the ZIP file from their tender portal. If the ZIP file has been modified after submission, the hash will not match with the one stored on the Blockchain and the supplier is disqualified. Similarly, this can be used to verify that a ZIP FIle has not been previously submitted.</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-warning">
                    <div class="card-header text-warning"><b>Retrieve Tender Submitter Address</b></div>
                    <div class="card-body text-warning">
                      <p class="card-text">Retrieve address responsible for submitting a Tender Submission ZIP File.  This feature is available to Admins only.</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card-deck col-md-12">
                  <div class="card shadow-sm border-info">
                    <div class="card-header text-info"><b>Count Tender Submissions</b></div>
                    <div class="card-body text-info">
                      <p class="card-text">Count number of Tender Submissions. This feature is available to Admins only.</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-dark">
                    <div class="card-header text-dark"><b>Check Contract Status</b></div>
                    <div class="card-body text-dark">
                      <p class="card-text">Check whether the contract is available or not.</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-success">
                    <div class="card-header text-success"><b>Toggle Contract Status</b></div>
                    <div class="card-body text-success">
                      <p class="card-text">Toggle contract between available and unavailable states (circuit breaker).  This feature is available to Admins only.</p>
                    </div>
                  </div>
                  <div class="card shadow-sm border-danger">
                    <div class="card-header text-danger"><b>Destroy Contract</b></div>
                    <div class="card-body text-danger">
                      <p class="card-text">Remove TSR Contract from Blockchain.  This feature is available to Admins only.</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="uploadTenderDocsRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">UPLOAD TENDER DOCUMENTS</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2" id="uploadTenderDocsForm">
                <div class="custom-file mb-3">
                  <input type="file" accept=".zip,application/zip" class="custom-file-input" id="uploadTenderDocsInputFileZIP" required>
                  <label class="custom-file-label" for="uploadTenderDocsInputFileZIP" id="uploadTenderDocsLabelFileZIP">Upload ZIP file of tender documents</label>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextSubmittedBy">Submitted By (Name & Surname)</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextSubmittedBy" placeholder="" required>
                    <small class="text-muted">Full name of supplier representative</small>
                    <div class="invalid-feedback">
                      Valid Name & Surname is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextIDNum">Identification Number</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextIDNum" placeholder="" required>
                    <small class="text-muted">Identification number of person submitting tender documents</small>
                    <div class="invalid-feedback">
                      Valid Supplier Representative National Identification Number is required.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsSelectTenderNum">Tender</label>
                    <select class="custom-select d-block w-100" id="uploadTenderDocsSelectTenderNum" required>
                      <option value="">Select Tender</option>
                      <option>1001 - Fix and Supply Data Center Hardware</option>
                      <option>1002 - Install Data Center Software</option>
                      <option>1003 - Train Data Center Operators</option>
                      <option>1004 - Fixed Term Data Center Support Contract (Jan - Dec 2020)</option>
                    </select>
                    <small class="text-muted">Published Tender Number</small>
                    <div class="invalid-feedback">
                      Please select a valid tender #.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextSupplierID">Supplier ID</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextSupplierID" placeholder="" required>
                    <small class="text-muted">Suppliers Central Supplier Database ID</small>
                    <div class="invalid-feedback">
                      Valid Supplier ID is required.
                    </div>
                  </div>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="uploadTenderDocsInputCheckboxAuthorised" required>
                  <label class="custom-control-label" for="uploadTenderDocsInputCheckboxAuthorised">I confirm that I am duly authorised to upload this bid on behalf of the supplier I represent.</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="uploadTenderDocsInputCheckboxTerms" required>
                  <label class="custom-control-label" for="uploadTenderDocsInputCheckboxTerms">I agree to the <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1" id="uploadTenderDocsButtonSubmit">Upload Tender Documents</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="verifyTenderDocsRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">VERIFY TENDER DOCUMENTS</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2" id="verifyTenderDocsForm">
                <div class="custom-file mb-3">
                  <input type="file" accept=".zip,application/zip" class="custom-file-input" data-text="Upload ZIP file of tender documents" data-dragdrop="true" id="verifyTenderDocsInputFileZIP" data-buttonBefore="true" required>
                  <label class="custom-file-label" for="verifyTenderDocsInputFileZIP" id="verifyTenderDocsLabelFileZIP">Upload ZIP file of tender documents</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="verifyTenderDocsInputCheckboxTerms" required>
                  <label class="custom-control-label" for="verifyTenderDocsInputCheckboxTerms">I agree to the <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1" id="verifyTenderDocsButtonSubmit">Verify Tender Documents</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="retrieveTenderDocsAddressRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">RETRIEVE TENDER DOCUMENTS SUBMITTER ADDRESS</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2" id="retrieveTenderDocsAddressForm">
                <div class="custom-file mb-3">
                  <input type="file" accept=".zip,application/zip" class="custom-file-input" data-text="Upload ZIP file of tender documents" data-dragdrop="true" id="retrieveTenderDocsAddressInputFileZIP" data-buttonBefore="true" required>
                  <label class="custom-file-label" for="retrieveTenderDocsAddressInputFileZIP" id="retrieveTenderDocsAddressLabelFileZIP">Upload ZIP file of tender documents</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="retrieveTenderDocsAddressInputCheckboxTerms" required>
                  <label class="custom-control-label" for="retrieveTenderDocsAddressInputCheckboxTerms">I agree to the <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1" id="retrieveTenderDocsAddressButtonSubmit">Retrieve Tender Documents Submitter Address</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="getTenderDocsCountRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">COUNT TENDER SUBMISSIONS</p>
              </h4>
              <!-- Get # of tender document submissions -->
              <div id="getTenderDocsCount"></div>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="tenderDocsCountButton">Show Total Number of Tender Document Submissions</button>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="checkContractStatusRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">CHECK CONTRACT STATUS</p>
              </h4>
              <!-- Check whether the contract is stopped or not -->
              <div id="checkContractStatus"></div>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="checkContractStatusButton">Check Contract Status</button>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="toggleContractStatusRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">TOGGLE CONTRACT STATUS</p>
              </h4>
              <!-- set contract to stopped or not stopped -->
              <div id="toggleContractStatus"></div>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="toggleContractStatusButton">Toggle Contract Status</button>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="destroyContractRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">DESTROY CONTRACT</p>
              </h4>
              <!-- call selfdestruct on contract -->
              <div id="destroyContract"></div>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="destroyContractButton">Initiate Self Destruct</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->

  </body>
</html>

