<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <% include ./partials/header %>
    </header>
    <!-- END: header -->

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row align-items-center justify-content-center text-wrap text-break" id="notificationBarRow">
              <div class="col-md-8">
                <% include ./partials/notificationbar %>
              </div>
          </div>
          <div class="row" id="loadingRow">Loading...</div>
          <div class="row align-items-center justify-content-center" id="howItWorksTenderDocsRow">
            <div class="col-md-8">
              <h4>
                <p class="text-muted text-center">HOW IT WORKS</p>
              </h4>
              <!--<p>Struct Bid Number, Terms of Reference, Bid Specifications, Briefing Session, Published Date, Closing date, Supplier ID, Supplier Representative (Name & Surname)</p>-->
            </div>
            <div class="card-deck col-md-8">
              <div class="card shadow-sm bg-primary">
                <div class="card-header"><b>Step 01</b></div>
                <div class="card-body">
                  <h5 class="card-title">Upload Tender Documents</h5>
                  <p class="card-text">ZIP file of tender documents is uploaded by authorised representative of supplier company. The hash of the ZIP file is calculated and stored on the Blockchain together with the date of submission for later verification.</p>
                </div>
              </div>
              <div class="card shadow-sm bg-secondary">
                <div class="card-header"><b>Step 02</b></div>
                <div class="card-body">
                  <h5 class="card-title">Verify Tender Documents</h5>
                  <p class="card-text">During tender vetting process, authorised representative of company that issued the tender uploads the ZIP file from their tender portal. If the ZIP file has been modified after submission, the hash will not match with the one stored on the Blockchain and the supplier is disqualified.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="uploadTenderDocsRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">UPLOAD TENDER DOCUMENTS</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2" id="uploadTenderDocsForm">
                <div class="custom-file mb-3">
                  <input type="file" accept=".zip,application/zip" class="custom-file-input" id="uploadTenderDocsInputFileZIP" required>
                  <label class="custom-file-label" for="uploadTenderDocsInputFileZIP" id="uploadTenderDocsLabelFileZIP">Upload ZIP file of tender documents</label>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextSubmittedBy">Submitted By (Name & Surname)</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextSubmittedBy" placeholder="" required>
                    <small class="text-muted">Full name of supplier representative</small>
                    <div class="invalid-feedback">
                      Valid Name & Surname is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextIDNum">Identification Number</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextIDNum" placeholder="" required>
                    <small class="text-muted">Identification number of person submitting tender documents</small>
                    <div class="invalid-feedback">
                      Valid Supplier Representative National Identification Number is required.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsSelectTenderNum">Tender</label>
                    <select class="custom-select d-block w-100" id="uploadTenderDocsSelectTenderNum" required>
                      <option value="">Select Tender</option>
                      <option>1001 - Fix and Supply Data Center Hardware</option>
                      <option>1002 - Install Data Center Software</option>
                      <option>1003 - Train Data Center Operators</option>
                      <option>1004 - Fixed Term Data Center Support Contract (Jan - Dec 2020)</option>
                    </select>
                    <small class="text-muted">Published Tender Number</small>
                    <div class="invalid-feedback">
                      Please select a valid tender #.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="uploadTenderDocsInputTextSupplierID">Supplier ID</label>
                    <input type="text" class="form-control" id="uploadTenderDocsInputTextSupplierID" placeholder="" required>
                    <small class="text-muted">Suppliers Central Supplier Database ID</small>
                    <div class="invalid-feedback">
                      Valid Supplier ID is required.
                    </div>
                  </div>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="uploadTenderDocsInputCheckboxAuthorised" required>
                  <label class="custom-control-label" for="uploadTenderDocsInputCheckboxAuthorised">I confirm that I am duly authorised to upload this bid on behalf of the supplier I represent.</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="uploadTenderDocsInputCheckboxTerms" required>
                  <label class="custom-control-label" for="uploadTenderDocsInputCheckboxTerms">I agree to the <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1" id="uploadTenderDocsButtonSubmit">Upload Tender Documents</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="verifyTenderDocsRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">VERIFY TENDER DOCUMENTS</p>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2" id="verifyTenderDocsForm">
                <div class="custom-file mb-3">
                  <input type="file" accept=".zip,application/zip" class="custom-file-input" data-text="Upload ZIP file of tender documents" data-dragdrop="true" id="verifyTenderDocsInputFileZIP" data-buttonBefore="true" required>
                  <label class="custom-file-label" for="verifyTenderDocsInputFileZIP" id="verifyTenderDocsLabelFileZIP">Upload ZIP file of tender documents</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="verifyTenderDocsInputCheckboxTerms" required>
                  <label class="custom-control-label" for="verifyTenderDocsInputCheckboxTerms">I agree to the <a href="/docs/terms.pdf" target="_blank">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1" id="verifyTenderDocsButtonSubmit">Verify Tender Documents</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center" id="getTenderDocsCountRow">
            <div class="col-md-8 order-md-1">
              <h4>
                <p class="text-muted text-center">COUNT TENDER SUBMISSIONS</p>
              </h4>
              <!-- Get # of tender document submissions -->
              <div id="getTenderDocsCount"></div>
              <button type="button" class="btn btn-primary btn-lg btn-block" id="tenderDocsCountButton">Show Total Number of Tender Document Submissions</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->

  </body>
</html>

