<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <!-- START: header -->
    <header>
      <% include ./partials/header %>
    </header>
    <!-- END: header -->

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><%= title_main %></h1>
          <h3 class="jumbotron-heading"><%= title_sub %></h3>
          <p class="lead text-muted">Digitally sign tender documents (in zip format) at submission time & Verify authenticity of submissions during tender vetting process.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Upload Tender Documents</a>
            <a href="#" class="btn btn-secondary my-2">Verify Tender Documents</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <% include ./partials/notificationbar %>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-md-8 order-md-1">
              <h4>
                <span class="text-muted">Upload Tender Documents</span>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2">
                <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="customFileLang">
                  <label class="custom-file-label" for="customFileLang">Upload ZIP file of tender documents</label>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="cc-name">Submitted By (Name & Surname)</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                    <small class="text-muted">Full name of supplier representative</small>
                    <div class="invalid-feedback">
                      Valid Name & Surname is required.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="cc-number">Identification Number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                    <small class="text-muted">Identification number of person submitting tender documents</small>
                    <div class="invalid-feedback">
                      Valid Supplier Representative National Identification Number is required.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="country">Tender</label>
                    <select class="custom-select d-block w-100" id="country" required>
                      <option value="">Select Tender</option>
                      <option>1001 - Fix and Supply Data Center Hardware</option>
                      <option>1002 - Install Data Center Software</option>
                      <option>1003 - Train Data Center Operators</option>
                      <option>1004 - Fixed Term Data Center Support Contract (Jan - Dec 2020)</option>
                    </select>
                    <small class="text-muted">Published Tender Number</small>
                    <div class="invalid-feedback">
                      Please select a valid tender #.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="cc-name">Supplier ID</label>
                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                    <small class="text-muted">Suppliers Central Supplier Database ID</small>
                    <div class="invalid-feedback">
                      Valid Supplier ID is required.
                    </div>
                  </div>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                  <label class="custom-control-label" for="customControlInline">I confirm that I am duly authorised to upload this bid on behalf of the supplier I represent.</label>
                </div>
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                  <input type="checkbox" class="custom-control-input" id="checkbox_Terms">
                  <label class="custom-control-label" for="customControlInline">I agree to the <a href="#">Terms and Conditions</a>.</label>
                </div>
                <button type="submit" class="btn btn-primary my-1">Upload Tender Documents</button>
              </form>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col-md-8 order-md-1">
              <h4>
                <span class="text-muted">Verify Tender Documents</span>
              </h4>
              <small class="text-muted">10MB Size Limit for ZIP file</small>
              <form class="card p-2">
                <div class="custom-file mb-3">
                  <input type="file" class="custom-file-input" id="customFileLang">
                  <label class="custom-file-label" for="customFileLang">Upload ZIP file of tender documents</label>
                </div>
                <button type="submit" class="btn btn-primary my-1">Verify</button>
              </form>
            </div>
          </div>

          <div class="row align-items-center justify-content-center">
            <div class="col-md-8 order-md-1">
              <p>Struct Bid Number, Terms of Reference, Bid Specifications, Briefing Session, Published Date, Closing date, Supplier ID, Supplier Representative (Name & Surname)</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- start footer -->
    <% include ./partials/footer %>
    <!-- end footer -->

  </body>
</html>

